<html>
  <head>
    <title>Main</title>

    <link rel="stylesheet" href="application.css" type="text/css" media="screen" >

    <script src="jquery-2.1.1.js" type="text/javascript"></script>
    <script src="jquery.color.js" type="text/javascript"></script>
    <script src="jquery.pointerlock.js" type="text/javascript"></script>
    <script src="three.js" type="text/javascript"></script>
    <script src="OrbitControls.js" type="text/javascript"></script>
    <script src="controls.js" type="text/javascript"></script>
    <script src="controls_broken.js" type="text/javascript"></script>

    <script src="lib.js" type="text/javascript"></script>
    <script src="lib.js" type="text/javascript"></script>
    <script src="driver.js" type="text/javascript"></script>

    <% Dir["public/demos/*.js"].each do |file| %>
      <script src="<%= file.gsub('public', '') %>" type="text/javascript"></script>
    <% end %>

    <% Dir["public/slides/slide_*.js"].each do |file| %>
      <script src="<%= file.gsub('public', '') %>" type="text/javascript"></script>
    <% end %>
  </head>

  <body>
    <% i = 0 %>
    <% loop do %>
      <% if File.exists?("views/slides/_slide_#{i}.erb") %>

        <div id="slide-<%= i %>" class="slide" data-id="<%= i %>" style="display: none">
          <%= partial "slides/slide_#{i}" %>
        </div>

        <% i += 1 %>
      <% else %>
        <% break %>
      <% end %>
    <% end %>
  </body>
</html>
